<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>
    </head>
    <body>
        <div data-th-fragment="footer">
            <footer
                class="  bg-blue-600 dark:bg-blue-800 text-white py-4 text-center mt-auto">
                &copy; 2025 Smart Contact Manager Creater Priya Bhargava | All
                Rights Reserved
            </footer>
        </div>

    </body>

</html>
